/* Header styles*/

body{
  background: radial-gradient(#f1efe9,#ffffff, #d0d2d6);
}
  

.menu-ul{
  list-style-type: none;
  margin: 0;
  float: right;  
}
h3{
  font-family:'Open Sans', sans-serif;
  color: white;
}

h4{
  font-family:'Open Sans', sans-serif;  
}

.menu-ul li {  
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;  
  margin-top:0px;
}

.Header{
  background-color: #40464f;
  height: 50px;
  margin-bottom: 30px;
}


/* Event  styles */




/* Repos styles*/
